/*! jQuery UI - v1.10.3 - 2013-05-03
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}
#accordion .ui-corner-all,
#accordion .ui-corner-top,
#accordion .ui-corner-left,
#accordion .ui-corner-tl,
#accordion .ui-corner-top,
#accordion .ui-corner-right,
#accordion .ui-corner-tr,
#accordion .ui-corner-bottom,
#accordion .ui-corner-left,
#accordion .ui-corner-bl,
#accordion .ui-corner-all,
#accordion .ui-corner-bottom,
#accordion .ui-corner-right,
#accordion .ui-corner-br 

{ -webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0; }

#accordion h3 { margin-top: 10px; }
#accordion h3 {
	border: none;
	font: 12px/38px 'cartogothic_stdbold';
	text-transform: uppercase;
	padding: 0 10px;
	position: relative;
	z-index: 20;
	display: block;
	height: 38px;
	cursor: pointer;
	color: #5e76a2;
	background: #ffffff;
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}

#accordion .ui-state-active {
	background: #7ab401;
	color: #ffffff;
	box-shadow: 
		0px 0px 0px 1px rgba(122,180,1,1), 
		0px 2px 2px rgba(0,0,0,0.1);
}
#accordion h3:after,
#accordion h3.ui-state-active:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../img/arrow_down.png) no-repeat center center;	
}

#accordion h3.ui-state-active:after {
	background-image: url(../img/arrow_up.png);
}
#accordion .ui-accordion-content {
	background: #ffffff;
	margin-top: -1px;
	position: relative;
	z-index: 10;
	padding: 0;
}

#accordion .ui-accordion-content{
	box-shadow: 0px 0px 0px 1px rgba(122,180,1,1);
	border: none;
}

#accordion p{
	color: #777;
	line-height: 18px;
	font-size: 12px;
	padding: 15px 10px;
}